.verde{
    background-color: green;
}
.rojo{
    background-color: red;
}
.gris{
    background-color: gray;
}
.butaca{
    border: 4px solid black;
    width: 30px;
    height: 30px;
    display: inline-block;  
    margin: 2px;
}
#sala{
    display: grid;
    grid-template-columns: repeat(20, 40px);
    gap: 5px;
    
}
body{
    display:grid;
    justify-items: center;
    align-items: center;
    
}